In [3]:
import pandas as pd

In [7]:
tesla = pd.read_csv('./data/tesla_stock_quandl.csv', parse_dates=['Date'])
tesla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        1949 non-null   datetime64[ns]
 1   Open        1949 non-null   float64
 2   High        1949 non-null   float64
 3   Low         1949 non-null   float64
 4   Close       1949 non-null   float64
 5   Volume      1949 non-null   float64
 6   ExDividend  1949 non-null   float64
 7   SplitRatio  1949 non-null   float64
 8   AdjOpen     1949 non-null   float64
 9   AdjHigh     1949 non-null   float64
 10  AdjLow      1949 non-null   float64
 11  AdjClose    1949 non-null   float64
 12  AdjVolume   1949 non-null   float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 198.1 KB

In [17]:
# 2010년도 2분기 값 가져오기
tesla[(tesla.Date.dt.year == 2010) & (tesla.Date.dt.quarter == 2)]

,Date,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
1947,2010-06-30,25.79,30.4192,23.30,23.83,17187100.0,0.0,1.0,25.79,30.4192,23.30,23.83,17187100.0
1948,2010-06-29,19.00,25.0000,17.54,23.89,18766300.0,0.0,1.0,19.00,25.0000,17.54,23.89,18766300.0

In [19]:
# 인덱스를 Date로 지정
tesla.index = tesla['Date']
tesla.head()

,Date,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,,
2018-03-27,2018-03-27,304.00,304.27,277.18,279.18,13696168.0,0.0,1.0,304.00,304.27,277.18,279.18,13696168.0
2018-03-26,2018-03-26,307.34,307.59,291.36,304.18,8324639.0,0.0,1.0,307.34,307.59,291.36,304.18,8324639.0
2018-03-23,2018-03-23,311.25,311.61,300.45,301.54,6600538.0,0.0,1.0,311.25,311.61,300.45,301.54,6600538.0
2018-03-22,2018-03-22,313.89,318.82,308.18,309.10,4914307.0,0.0,1.0,313.89,318.82,308.18,309.10,4914307.0
2018-03-21,2018-03-21,310.25,322.44,310.19,316.53,5927881.0,0.0,1.0,310.25,322.44,310.19,316.53,5927881.0

In [20]:
tesla.loc['2018-03-20']

Date          2018-03-20 00:00:00
Open                       314.87
High                       316.25
Low                        308.76
Close                      310.55
Volume                  4726182.0
ExDividend                    0.0
SplitRatio                    1.0
AdjOpen                    314.87
AdjHigh                    316.25
AdjLow                     308.76
AdjClose                   310.55
AdjVolume               4726182.0
Name: 2018-03-20 00:00:00, dtype: object

In [24]:
tesla['2015']

C:\Users\admin\AppData\Local\Temp\ipykernel_1564\2920848526.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  tesla['2015']

,Date,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,,
2015-12-31,2015-12-31,238.51,243.4500,238.3700,240.010,2715038.0,0.0,1.0,238.51,243.4500,238.3700,240.010,2715038.0
2015-12-30,2015-12-30,236.60,243.6340,235.6707,238.090,3697921.0,0.0,1.0,236.60,243.6340,235.6707,238.090,3697921.0
2015-12-29,2015-12-29,230.06,237.7200,229.5470,237.190,2406290.0,0.0,1.0,230.06,237.7200,229.5470,237.190,2406290.0
2015-12-28,2015-12-28,231.49,231.9800,225.5400,228.950,1901304.0,0.0,1.0,231.49,231.9800,225.5400,228.950,1901304.0
2015-12-24,2015-12-24,230.56,231.8800,228.2800,230.570,710277.0,0.0,1.0,230.56,231.8800,228.2800,230.570,710277.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-01-08,2015-01-08,212.81,213.7999,210.0100,210.615,3442509.0,0.0,1.0,212.81,213.7999,210.0100,210.615,3442509.0
2015-01-07,2015-01-07,213.35,214.7800,209.7800,210.950,2968390.0,0.0,1.0,213.35,214.7800,209.7800,210.950,2968390.0
2015-01-06,2015-01-06,210.06,214.2000,204.2100,211.280,6261936.0,0.0,1.0,210.06,214.2000,204.2100,211.280,6261936.0
2015-01-05,2015-01-05,214.55,216.5000,207.1626,210.090,5368477.0,0.0,1.0,214.55,216.5000,207.1626,210.090,5368477.0
2015-01-02,2015-01-02,222.87,223.2500,213.2600,219.310,4764443.0,0.0,1.0,222.87,223.2500,213.2600,219.310,4764443.0

In [25]:
tesla['2016-10']

C:\Users\admin\AppData\Local\Temp\ipykernel_1564\2237219238.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  tesla['2016-10']

,Date,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,,
2016-10-31,2016-10-31,202.49,202.4900,195.81,197.73,4692273.0,0.0,1.0,202.49,202.4900,195.81,197.73,4692273.0
2016-10-28,2016-10-28,204.00,205.3200,199.83,199.97,4280141.0,0.0,1.0,204.00,205.3200,199.83,199.97,4280141.0
2016-10-27,2016-10-27,211.34,213.7000,201.65,204.01,13093744.0,0.0,1.0,211.34,213.7000,201.65,204.01,13093744.0
2016-10-26,2016-10-26,201.00,203.1900,200.10,202.24,5632841.0,0.0,1.0,201.00,203.1900,200.10,202.24,5632841.0
2016-10-25,2016-10-25,202.90,204.6900,201.20,202.34,2445014.0,0.0,1.0,202.90,204.6900,201.20,202.34,2445014.0
2016-10-24,2016-10-24,201.00,203.9452,200.25,202.76,2751562.0,0.0,1.0,201.00,203.9452,200.25,202.76,2751562.0
2016-10-21,2016-10-21,198.60,201.5700,197.41,200.09,2943402.0,0.0,1.0,198.60,201.5700,197.41,200.09,2943402.0
2016-10-20,2016-10-20,202.12,203.0000,197.05,199.10,5072877.0,0.0,1.0,202.12,203.0000,197.05,199.10,5072877.0
2016-10-19,2016-10-19,199.74,206.6600,198.06,203.56,6991183.0,0.0,1.0,199.74,206.6600,198.06,203.56,6991183.0
2016-10-18,2016-10-18,195.99,199.4700,193.26,199.10,5680475.0,0.0,1.0,195.99,199.4700,193.26,199.10,5680475.0
2016-10-17,2016-10-17,197.05,198.3900,192.00,193.96,4554080.0,0.0,1.0,197.05,198.3900,192.00,193.96,4554080.0
2016-10-14,2016-10-14,200.66,201.4300,196.30,196.51,4269850.0,0.0,1.0,200.66,201.4300,196.30,196.51,4269850.0
2016-10-13,2016-10-13,200.50,200.8950,197.05,200.24,2495413.0,0.0,1.0,200.50,200.8950,197.05,200.24,2495413.0
2016-10-12,2016-10-12,200.95,203.8800,200.42,201.51,1970689.0,0.0,1.0,200.95,203.8800,200.42,201.51,1970689.0
2016-10-11,2016-10-11,201.85,202.2000,198.31,200.10,2328422.0,0.0,1.0,201.85,202.2000,198.31,200.10,2328422.0
2016-10-10,2016-10-10,201.35,204.1400,199.66,200.95,3316297.0,0.0,1.0,201.35,204.1400,199.66,200.95,3316297.0
2016-10-07,2016-10-07,201.00,201.3200,195.80,196.61,3493018.0,0.0,1.0,201.00,201.3200,195.80,196.61,3493018.0
2016-10-06,2016-10-06,202.46,204.2099,200.21,201.00,4703402.0,0.0,1.0,202.46,204.2099,200.21,201.00,4703402.0
2016-10-05,2016-10-05,212.24,213.1500,208.12,208.46,1877534.0,0.0,1.0,212.24,213.1500,208.12,208.46,1877534.0
2016-10-04,2016-10-04,213.10,213.3200,208.82,211.41,3541481.0,0.0,1.0,213.10,213.3200,208.82,211.41,3541481.0
2016-10-03,2016-10-03,212.30,215.6688,208.25,213.70,5999892.0,0.0,1.0,212.30,215.6688,208.25,213.70,5999892.0

In [32]:
pd.date_range(start='2015-01-01', end='2015-12-31',freq='Q')

DatetimeIndex(['2015-03-31', '2015-06-30', '2015-09-30', '2015-12-31'], dtype='datetime64[ns]', freq='Q-DEC')