### 전처리

In [4]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
pd.set_option('display.max.colwidth',10)
df = pd.read_csv('./data/day4/bicycle.csv', encoding='euc-kr')
df

,자전거번호,대여일시,대여소번호,대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-23220,2019-1...,646,장한평역 1...,3.0,2019-1...,3,중랑센터,7.0,12.0,1100.0
1,SPB-16216,2019-1...,646,장한평역 1...,2.0,2019-1...,3,중랑센터,2.0,7.0,1420.0
2,SPB-21097,2019-1...,646,장한평역 1...,1.0,2019-1...,3,중랑센터,7.0,10.0,NaN
3,SPB-22292,2019-1...,646,장한평역 1...,1.0,2019-1...,3,중랑센터,NaN,10.0,1380.0
4,SPB-07935,2019-1...,512,뚝섬역 1번...,11.0,2019-1...,3,중랑센터,7.0,10.0,1650.0
...,...,...,...,...,...,...,...,...,...,...,...
415,SPB-12116,2019-1...,112,극동방송국 앞,5.0,2019-1...,101,(구)합정동...,1.0,11.0,2200.0
416,SPB-17768,2019-1...,103,망원역 2번...,14.0,2019-1...,101,(구)합정동...,NaN,5.0,NaN
417,SPB-18841,2019-1...,113,홍대입구역 ...,24.0,2019-1...,101,(구)합정동...,1.0,12.0,2280.0
418,SPB-24467,2019-1...,152,마포구민체육...,18.0,2019-1...,101,(구)합정동...,1.0,10.0,1180.0
419,SPB-17570,2019-1...,391,정동길입구,7.0,2019-1...,101,(구)합정동...,5.0,48.0,8100.0

### 결측치 확인

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자전거번호    420 non-null    object
 1   대여일시     420 non-null    object
 2   대여소번호    420 non-null    int64
 3   대여소명     420 non-null    object
 4   대여거치대    396 non-null    float64
 5   반납일시     420 non-null    object
 6   반납대여소번호  420 non-null    int64
 7   반납대여소명   420 non-null    object
 8   반납거치대    409 non-null    float64
 9   이용시간     405 non-null    float64
 10  이용거리     404 non-null    float64
dtypes: float64(4), int64(2), object(5)
memory usage: 36.2+ KB

In [7]:
df.isnull() # null 값인것
df.notnull() # null 값이 아닌것
# df.isnull() == False

,자전거번호,대여일시,대여소번호,대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,False
3,True,True,True,True,True,True,True,True,False,True,True
4,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...
415,True,True,True,True,True,True,True,True,True,True,True
416,True,True,True,True,True,True,True,True,False,True,False
417,True,True,True,True,True,True,True,True,True,True,True
418,True,True,True,True,True,True,True,True,True,True,True
419,True,True,True,True,True,True,True,True,True,True,True

In [8]:
# 컬럼별 결측값이 있는 행의 갯수 조회하기
df.isnull().sum(0)

자전거번호       0
대여일시        0
대여소번호       0
대여소명        0
대여거치대      24
반납일시        0
반납대여소번호     0
반납대여소명      0
반납거치대      11
이용시간       15
이용거리       16
dtype: int64

In [9]:
# 컬럼별 결측값이 있는 열의 갯수 조회하기
df.isnull().sum(1)

0      0
1      0
2      1
3      1
4      0
      ..
415    0
416    2
417    0
418    0
419    0
Length: 420, dtype: int64

In [10]:
num_rows = df.shape[0]
num_missing = num_rows - df.count()
num_missing

자전거번호       0
대여일시        0
대여소번호       0
대여소명        0
대여거치대      24
반납일시        0
반납대여소번호     0
반납대여소명      0
반납거치대      11
이용시간       15
이용거리       16
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자전거번호    420 non-null    object
 1   대여일시     420 non-null    object
 2   대여소번호    420 non-null    int64
 3   대여소명     420 non-null    object
 4   대여거치대    396 non-null    float64
 5   반납일시     420 non-null    object
 6   반납대여소번호  420 non-null    int64
 7   반납대여소명   420 non-null    object
 8   반납거치대    409 non-null    float64
 9   이용시간     405 non-null    float64
 10  이용거리     404 non-null    float64
dtypes: float64(4), int64(2), object(5)
memory usage: 36.2+ KB

In [12]:
# 결측치가 있는 행 삭제하기
df_dropna = df.dropna()
df_dropna.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 358 entries, 0 to 419
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자전거번호    358 non-null    object
 1   대여일시     358 non-null    object
 2   대여소번호    358 non-null    int64
 3   대여소명     358 non-null    object
 4   대여거치대    358 non-null    float64
 5   반납일시     358 non-null    object
 6   반납대여소번호  358 non-null    int64
 7   반납대여소명   358 non-null    object
 8   반납거치대    358 non-null    float64
 9   이용시간     358 non-null    float64
 10  이용거리     358 non-null    float64
dtypes: float64(4), int64(2), object(5)
memory usage: 33.6+ KB

In [13]:
# 결측치가 있는 열 삭제하기
df_dropna = df.dropna(axis=1)
df_dropna.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자전거번호    420 non-null    object
 1   대여일시     420 non-null    object
 2   대여소번호    420 non-null    int64
 3   대여소명     420 non-null    object
 4   반납일시     420 non-null    object
 5   반납대여소번호  420 non-null    int64
 6   반납대여소명   420 non-null    object
dtypes: int64(2), object(5)
memory usage: 23.1+ KB

In [14]:
df['대여거치대'].dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자전거번호    420 non-null    object
 1   대여일시     420 non-null    object
 2   대여소번호    420 non-null    int64
 3   대여소명     420 non-null    object
 4   대여거치대    396 non-null    float64
 5   반납일시     420 non-null    object
 6   반납대여소번호  420 non-null    int64
 7   반납대여소명   420 non-null    object
 8   반납거치대    409 non-null    float64
 9   이용시간     405 non-null    float64
 10  이용거리     404 non-null    float64
dtypes: float64(4), int64(2), object(5)
memory usage: 36.2+ KB

In [15]:
# 대여소번호, 대여거치대, 이용시간 3개 컬럼에 결측치가 있으면 삭제
df[['대여소번호','대여거치대','이용시간']].dropna()

     대여소번호  대여거치대  이용시간
0      646    3.0  12.0
1      646    2.0   7.0
2      646    1.0  10.0
3      646    1.0  10.0
4      512   11.0  10.0
..     ...    ...   ...
415    112    5.0  11.0
416    103   14.0   5.0
417    113   24.0  12.0
418    152   18.0  10.0
419    391    7.0  48.0

[382 rows x 3 columns]

In [16]:
df

,자전거번호,대여일시,대여소번호,대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-23220,2019-1...,646,장한평역 1...,3.0,2019-1...,3,중랑센터,7.0,12.0,1100.0
1,SPB-16216,2019-1...,646,장한평역 1...,2.0,2019-1...,3,중랑센터,2.0,7.0,1420.0
2,SPB-21097,2019-1...,646,장한평역 1...,1.0,2019-1...,3,중랑센터,7.0,10.0,NaN
3,SPB-22292,2019-1...,646,장한평역 1...,1.0,2019-1...,3,중랑센터,NaN,10.0,1380.0
4,SPB-07935,2019-1...,512,뚝섬역 1번...,11.0,2019-1...,3,중랑센터,7.0,10.0,1650.0
...,...,...,...,...,...,...,...,...,...,...,...
415,SPB-12116,2019-1...,112,극동방송국 앞,5.0,2019-1...,101,(구)합정동...,1.0,11.0,2200.0
416,SPB-17768,2019-1...,103,망원역 2번...,14.0,2019-1...,101,(구)합정동...,NaN,5.0,NaN
417,SPB-18841,2019-1...,113,홍대입구역 ...,24.0,2019-1...,101,(구)합정동...,1.0,12.0,2280.0
418,SPB-24467,2019-1...,152,마포구민체육...,18.0,2019-1...,101,(구)합정동...,1.0,10.0,1180.0
419,SPB-17570,2019-1...,391,정동길입구,7.0,2019-1...,101,(구)합정동...,5.0,48.0,8100.0

In [17]:
df0 = df.fillna(0)
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   자전거번호    420 non-null    object
 1   대여일시     420 non-null    object
 2   대여소번호    420 non-null    int64
 3   대여소명     420 non-null    object
 4   대여거치대    420 non-null    float64
 5   반납일시     420 non-null    object
 6   반납대여소번호  420 non-null    int64
 7   반납대여소명   420 non-null    object
 8   반납거치대    420 non-null    float64
 9   이용시간     420 non-null    float64
 10  이용거리     420 non-null    float64
dtypes: float64(4), int64(2), object(5)
memory usage: 36.2+ KB

#### 결측치 처리

In [18]:
df['이용거리'].fillna(0)

0      1100.0
1      1420.0
2         0.0
3      1380.0
4      1650.0
        ...
415    2200.0
416       0.0
417    2280.0
418    1180.0
419    8100.0
Name: 이용거리, Length: 420, dtype: float64

In [19]:
df['이용거리'].fillna('missing')

0       1100.0
1       1420.0
2      missing
3       1380.0
4       1650.0
        ...
415     2200.0
416    missing
417     2280.0
418     1180.0
419     8100.0
Name: 이용거리, Length: 420, dtype: object

In [20]:
df.fillna(df.mean())

C:\Users\admin\AppData\Local\Temp\ipykernel_4652\634187881.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean())

,자전거번호,대여일시,대여소번호,대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-23220,2019-1...,646,장한평역 1...,3.0,2019-1...,3,중랑센터,7.000000,12.0,1100.0...
1,SPB-16216,2019-1...,646,장한평역 1...,2.0,2019-1...,3,중랑센터,2.000000,7.0,1420.0...
2,SPB-21097,2019-1...,646,장한평역 1...,1.0,2019-1...,3,중랑센터,7.000000,10.0,2679.6...
3,SPB-22292,2019-1...,646,장한평역 1...,1.0,2019-1...,3,중랑센터,2.831296,10.0,1380.0...
4,SPB-07935,2019-1...,512,뚝섬역 1번...,11.0,2019-1...,3,중랑센터,7.000000,10.0,1650.0...
...,...,...,...,...,...,...,...,...,...,...,...
415,SPB-12116,2019-1...,112,극동방송국 앞,5.0,2019-1...,101,(구)합정동...,1.000000,11.0,2200.0...
416,SPB-17768,2019-1...,103,망원역 2번...,14.0,2019-1...,101,(구)합정동...,2.831296,5.0,2679.6...
417,SPB-18841,2019-1...,113,홍대입구역 ...,24.0,2019-1...,101,(구)합정동...,1.000000,12.0,2280.0...
418,SPB-24467,2019-1...,152,마포구민체육...,18.0,2019-1...,101,(구)합정동...,1.000000,10.0,1180.0...
419,SPB-17570,2019-1...,391,정동길입구,7.0,2019-1...,101,(구)합정동...,5.000000,48.0,8100.0...

In [21]:
# 이용거리 컬럼의 결측치를 평균값으로 대체
df['이용거리'].fillna(df['이용거리'].mean())

0      1100.0...
1      1420.0...
2      2679.6...
3      1380.0...
4      1650.0...
         ...
415    2200.0...
416    2679.6...
417    2280.0...
418    1180.0...
419    8100.0...
Name: 이용거리, Length: 420, dtype: float64