In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
from matplotlib import font_manager, rc
import platform

In [3]:
if platform.system() == 'Windows' :
    path = 'c:/Windows/Fonts/malgun.ttf'
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
elif platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
else :
    print('Check your OS System')
    
# 그래프에 마이너스 표시
matplotlib.rcParams['axes.unicode_minus'] = False

In [4]:
df_20TABLE_org = pd.read_excel('./data/day6/files_new/df_20TABLE_kor_명세일반내역.xlsx')

### 월별/ 연령대별 본인부담비용 시각화 분석

In [5]:
# 수진자연령, 요양개시일자, 심결본인부담금
df_20TABLE_org = pd.read_excel('./data/day6/files_new/df_20TABLE_kor_명세일반내역.xlsx')
df_month_age = df_20TABLE_org[['수진자연령','요양개시일자','심결본인부담금']]

In [6]:
df_9under = df_month_age[df_month_age['수진자연령'] <= 9]
df_9under = df_9under.reset_index(drop=True)
df_9under['연령대'] = '9세이하'
df_9under

     수진자연령    요양개시일자  심결본인부담금   연령대
0        3  20131211     2900  9세이하
1        6  20130129     2800  9세이하
2        3  20130130     2700  9세이하
3        6  20130130     6500  9세이하
4        6  20130502     2800  9세이하
..     ...       ...      ...   ...
664      5  20131207     2000  9세이하
665      6  20130201     2800  9세이하
666      3  20130622     2000  9세이하
667      9  20131001     3900  9세이하
668      4  20130112     2900  9세이하

[669 rows x 4 columns]

In [20]:
for i in range(10,100,10):
    print("'{:d}'".format(i))

'10'
'20'
'30'
'40'
'50'
'60'
'70'
'80'
'90'

In [102]:
df_20TABLE_org = pd.read_excel('./data/day6/files_new/df_20TABLE_kor_명세일반내역.xlsx')
df_month_age = df_20TABLE_org[['수진자연령','요양개시일자','심결본인부담금']]

df_list = {}
df_final = pd.DataFrame()

for i in range(0,91,10):
    df_list[f'{i}대'] = df_month_age[(df_month_age['수진자연령'] >= i+0) & (df_month_age['수진자연령'] <= i+9)].reset_index(drop =True)
    df_list[f'{i}대']['나이'] = f'{i}-'f'{i+9}살'
    df_list[f'{i}대']['요양개시월'] = df_list[f'{i}대']['요양개시일자'].astype(str).str[4:6]
    df_final = pd.concat([df_final,df_list[f'{i}대']])

df_final

    수진자연령    요양개시일자  심결본인부담금      나이 요양개시월
0       3  20131211     2900    0-9살    12
1       6  20130129     2800    0-9살    01
2       3  20130130     2700    0-9살    01
3       6  20130130     6500    0-9살    01
4       6  20130502     2800    0-9살    05
..    ...       ...      ...     ...   ...
5      94  20130423     1500  90-99살    04
6      94  20130709     1500  90-99살    07
7      94  20131208     1500  90-99살    12
8      94  20130401     1500  90-99살    04
9      94  20130416      900  90-99살    04

[5631 rows x 5 columns]

In [ ]:
df_age_any = pd.DataFrame()
for i in range(0, 101, 10):
    
    df_age = df_month_age[(df_month_age["수진자연령"] >= i) & \
                    (df_month_age["수진자연령"] < i+10)]
    df_age = df_age.reset_index(drop=True)
    if i < 10 :
        df_age["연령대"] = "9세이하"
    else : 
        df_age["연령대"] = "{}대".format(i)
    df_age
    df_age_any = pd.concat([df_age_any, df_age], ignore_index=True)

    df_age_any["요양개시일자"] = df_age_any["요양개시일자"].astype(str)
    df_age_any["요양개시월"] = df_age_any["요양개시일자"].str[4 : 6]

df_age_any