### 인구 공공데이터

In [38]:
import pandas as pd

In [39]:
df = pd.read_csv('./data/people_202101.csv',encoding='cp949')
df

,행정구역,2021년01월_계_총인구수,2021년01월_계_연령구간인구수,2021년01월_계_0세,2021년01월_계_1세,2021년01월_계_2세,2021년01월_계_3세,2021년01월_계_4세,2021년01월_계_5세,2021년01월_계_6세,...,2021년01월_계_91세,2021년01월_계_92세,2021년01월_계_93세,2021년01월_계_94세,2021년01월_계_95세,2021년01월_계_96세,2021년01월_계_97세,2021년01월_계_98세,2021년01월_계_99세,2021년01월_계_100세 이상
0,서울특별시 (1100000000),"9,657,969","9,657,969","44,249","49,910","52,741","56,732","63,560","68,419","67,870",...,"8,394","6,867","5,185","3,741","2,719","1,998","1,956","1,495","1,070","6,853"
1,서울특별시 종로구 (1111000000),"149,125","149,125",464,588,564,663,761,841,833,...,194,164,123,105,83,57,54,58,44,276
2,서울특별시 종로구 청운효자동(1111051500),"12,426","12,426",47,60,65,77,71,104,91,...,15,11,7,6,10,3,6,6,1,20
3,서울특별시 종로구 사직동(1111053000),"9,544","9,544",27,37,33,54,69,64,82,...,22,15,12,6,9,4,4,6,2,21
4,서울특별시 종로구 삼청동(1111054000),"2,613","2,613",7,7,6,16,3,17,7,...,7,4,3,3,1,3,0,2,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3841,제주특별자치도 서귀포시 서홍동(5013058000),"10,743","10,743",67,88,90,104,131,135,131,...,6,11,0,2,3,1,1,2,1,2
3842,제주특별자치도 서귀포시 대륜동(5013059000),"14,826","14,826",121,148,140,148,168,179,148,...,11,6,10,5,4,1,11,4,2,7
3843,제주특별자치도 서귀포시 대천동(5013060000),"13,900","13,900",101,145,120,190,212,179,197,...,13,10,7,6,4,2,1,3,1,3
3844,제주특별자치도 서귀포시 중문동(5013061000),"11,543","11,543",61,81,79,59,94,107,98,...,16,9,6,2,4,3,3,0,3,7
3845,제주특별자치도 서귀포시 예래동(5013062000),"3,934","3,934",17,11,26,20,25,28,24,...,13,6,3,5,2,1,6,2,0,4

In [45]:
# 서울특별시 관악구 신림동(1162069500) 정보 확인
df2 = df[df['행정구역'] == '서울특별시 관악구 신림동(1162069500)']
df2

,행정구역,2021년01월_계_총인구수,2021년01월_계_연령구간인구수,2021년01월_계_0세,2021년01월_계_1세,2021년01월_계_2세,2021년01월_계_3세,2021년01월_계_4세,2021년01월_계_5세,2021년01월_계_6세,...,2021년01월_계_92세,2021년01월_계_93세,2021년01월_계_94세,2021년01월_계_95세,2021년01월_계_96세,2021년01월_계_97세,2021년01월_계_98세,2021년01월_계_99세,2021년01월_계_100세 이상,행정구역시
355,서울특별시 관악구 신림동(1162069500),"21,831","21,831",42,43,29,47,39,37,40,...,8,6,5,3,1,1,1,3,16,서울특별시

In [41]:
df['행정구역시'] = df['행정구역'].apply(lambda x : x.split(' ')[0])
df[df['행정구역시'] == '부산광역시']

,행정구역,2021년01월_계_총인구수,2021년01월_계_연령구간인구수,2021년01월_계_0세,2021년01월_계_1세,2021년01월_계_2세,2021년01월_계_3세,2021년01월_계_4세,2021년01월_계_5세,2021년01월_계_6세,...,2021년01월_계_92세,2021년01월_계_93세,2021년01월_계_94세,2021년01월_계_95세,2021년01월_계_96세,2021년01월_계_97세,2021년01월_계_98세,2021년01월_계_99세,2021년01월_계_100세 이상,행정구역시
451,부산광역시 (2600000000),"3,389,388","3,389,388","14,305","17,113","19,108","21,366","24,298","26,450","26,265",...,"2,591","1,945","1,189",939,663,559,454,297,"1,901",부산광역시
452,부산광역시 중구 (2611000000),"41,549","41,549",75,85,107,127,128,152,147,...,72,52,29,21,13,17,22,11,87,부산광역시
453,부산광역시 중구 중앙동(2611051000),"2,518","2,518",3,6,3,5,5,1,3,...,8,1,1,2,1,1,3,1,3,부산광역시
454,부산광역시 중구 동광동(2611052000),"2,888","2,888",6,5,6,10,8,8,5,...,11,3,6,4,1,1,4,0,5,부산광역시
455,부산광역시 중구 대청동(2611053000),"6,505","6,505",7,13,14,17,21,23,28,...,16,11,8,3,2,4,2,1,9,부산광역시
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668,부산광역시 기장군 기장읍(2671025000),"53,060","53,060",214,231,263,332,341,324,326,...,41,45,27,28,12,12,8,8,20,부산광역시
669,부산광역시 기장군 장안읍(2671025300),"8,663","8,663",50,36,32,40,31,33,50,...,10,12,5,6,5,5,5,1,11,부산광역시
670,부산광역시 기장군 정관읍(2671025600),"81,877","81,877",659,767,912,"1,074","1,314","1,402","1,520",...,27,26,19,19,7,7,4,1,5,부산광역시
671,부산광역시 기장군 일광면(2671031000),"23,776","23,776",241,304,314,321,355,337,335,...,17,9,7,8,6,2,5,3,6,부산광역시
672,부산광역시 기장군 철마면(2671033000),"8,052","8,052",15,18,25,29,41,44,59,...,14,3,2,1,1,4,3,4,2,부산광역시

In [46]:
df2 = df2.drop(
    ['행정구역', '2021년01월_계_총인구수', '2021년01월_계_연령구간인구수'], axis=1)
df2.head()

,2021년01월_계_0세,2021년01월_계_1세,2021년01월_계_2세,2021년01월_계_3세,2021년01월_계_4세,2021년01월_계_5세,2021년01월_계_6세,2021년01월_계_7세,2021년01월_계_8세,2021년01월_계_9세,...,2021년01월_계_92세,2021년01월_계_93세,2021년01월_계_94세,2021년01월_계_95세,2021년01월_계_96세,2021년01월_계_97세,2021년01월_계_98세,2021년01월_계_99세,2021년01월_계_100세 이상,행정구역시
355,42,43,29,47,39,37,40,21,29,32,...,8,6,5,3,1,1,1,3,16,서울특별시

In [48]:
df3 = df2.melt()
df3.drop('variable', axis=1, inplace=True)
df3

     value
0       42
1       43
2       29
3       47
4       39
..     ...
97       1
98       1
99       3
100     16
101  서울특별시

[102 rows x 1 columns]